#mac os
.DS_store

# Fortranのビルド成果物
Lesson01/src/numerical_differentiaton
Lesson01/src/numerical_differentiaton.exe

# 実行後に生成されるファイル
Lesson01/src/output.csv
Lesson01/src/numerical_differentiaton.png

# Python
__pycache__/
*.pyc
.venv/
