# macOS
.DS_Store

# Fortranのビルド成果物
Lesson01/src/numerical_differentiation
Lesson01/src/numerical_differentiation.exe

# 実行後に生成されるファイル
Lesson01/src/output.csv
Lesson01/src/numerical_differentiation.png

# Python
__pycache__/
*.pyc
.venv/
