# macOS
.DS_Store

# Lesson01
Lesson01/src/numerical_differentiation
Lesson01/src/numerical_differentiation.exe
Lesson01/src/output.csv
Lesson01/src/numerical_differentiation.png

# Lesson01
Lesson02/src/thermal_diffusion
Lesson02/src/grid.csv
Lesson02/src/output.csv
Lesson02/src/thermal_diffusion.png

# Python
__pycache__/
*.pyc
.venv/
